<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head('favorites')"></head>
<body>
  <div th:replace="layout :: nav"></div>
  <div th:replace="layout :: searchbar"></div>
  <div th:replace="layout :: flash"></div>
  <div class="row user-meta">
    <div class="col s3 l12">
      <img class="circle" src="https://api.adorable.io/avatars/adamelliotfields" alt="avatar" />
    </div>
    <div class="col s9 l12">
      <!--/*@thymesVar id="gifs" type="io.github.adamelliotfields.entity.Gif"*/-->
      <div class="meta" th:text="|${#lists.size(gifs)} Favorites|"></div>
    </div>
  </div>
  <div class="gifs container">
    <div class="divider"></div>
    <div class="row">
      <div th:each="gif : ${gifs}" class="col s12 m6 l4">
        <a th:href="@{|/gifs/${gif.id}|}">
          <img th:src="@{|/gifs/${gif.id}.gif|}" />
          <a href="#" th:class="(${gif.favorite} ? 'unmark favorite' : 'mark favorite')"></a>
        </a>
      </div>
    </div>
  </div>
  <div th:replace="layout :: scripts"></div>
</body>
</html>
